.collapse, .navbar-collapse, .navbar-ex1-collapse{
	background-color: red;
}

header{
	background-image: url("../../../img/gmail.png");
	background-repeat: no-repeat;
	background-position: center;
	
}